<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="mMid" value="mid" />
		<property name="mIdentify" value="identify" />
		<property name="mPassword" value="password" />
		<property name="mSpot" value="spot" />
	</properties>
	<typeAliases>
        <package name="com.ht.season.member.memberDTO" />
        <package name="com.ht.season.board.BoardDTO" />
    </typeAliases>
</configuration>