<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

<!-- 게시글 목록 조회 -->
<select id="listAll" resultType="com.ht.season.board.BoardDTO">
	SELECT bno,title,content,board_date,(select spot from member,board where board.mid = member.mid) spot from board order by bno desc
</select>
<!-- 게시글 작성 -->
<insert id="insert"> <!-- NVL = 그값이 null이면 들어가는 Default 값 -->
	insert into board (bno,title,content,board_date,mid) values(select NVL(MAX(bno)+1,1)from board),
	#{title},#{content},sysdate,#{spot} )
</insert>
<!--  게시글 상세보기 -->
<select id="view" resultType="com.ht.season.board.BoardDTO">
	select bno,title,content,board_date,(select spot from member,board where board.mid = member.mid) from board
	where bno = #{bno}
</select>
<!--  게시글 수정 처리 -->
<update id ="updateArticle">
	update board set
		title= #{title},
		content = #{content},
		spot = #{spot}
	where bno = #{bno}
</update>
<!-- 게시글 삭제 -->
	<delete id="deleteArticle">
	Delete from board
		where bno = #{bno}
		</delete>
		</mapper>